<div class="col-md-7 user-container">
  <h2 class="text-center">New Customer</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="customerName">Customer Name:</label>
      <input type="text" formControlName="customerName" placeholder="Customer Name" name="customerName" class="form-control" id="customerName">
    </div>

    <div class="form-group">
      <label for="contactFirstName">Contact First Name:</label>
      <input type="text" formControlName="contactFirstName" placeholder="First Name" name="contactFirstName" class="form-control" id="contactFirstName">
    </div>

    <div class="form-group">
      <label for="contactLastName">Contact Last Name:</label>
      <input type="text" formControlName="contactLastName" placeholder="Last name" name="contactLastName" class="form-control" id="contactLastName">
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" formControlName="phone" placeholder="0NN-NNNNNNN" name="phone" class="form-control" id="phone">
    </div>

    <div class="form-group">
      <label for="addressLine1">Address:</label>
      <input type="text" formControlName="addressLine1" placeholder="" name="addressLine1" class="form-control" id="addressLine1">
    </div>

	<div class="form-group">
      <label for="city">City:</label>
      <input type="text" formControlName="city" placeholder="" name="city" class="form-control" id="city">
    </div>

	<div class="form-group">
      <label for="state">State:</label>
      <input type="text" formControlName="state" placeholder="" name="state" class="form-control" id="state">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
