<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1>Customers Management Application</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>	
  </button>
</nav>
<router-outlet></router-outlet>
