<div class="col-md-8 user-container">
  <h2 class="text-center">Edit Customer</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
	  <label for="customerNumber"><h4>Customer Number:</h4></label>
      <input type="text" formControlName="customerNumber" name="customerNumber" class="form-control" id="customerNumber" readonly="true">
    </div>
	<div><br>
	</div>
    <div class="form-group">
      <label for="customerName">Customer Name:</label>
      <input type="text" formControlName="customerName" name="customerName" class="form-control" id="customerName">
    </div>

    <div class="form-group">
      <label for="contactFirstName">Contact First Name:</label>
      <input type="text" formControlName="contactFirstName" name="contactFirstName" class="form-control" id="contactFirstName">
    </div>

    <div class="form-group">
      <label for="contactLastName">Contact Last Name:</label>
      <input type="text" formControlName="contactLastName" name="contactLastName" class="form-control" id="contactLastName">
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" formControlName="phone" name="phone" class="form-control" id="phone">
    </div>

    <div class="form-group">
      <label for="addressLine1">Address:</label>
      <input type="text" formControlName="addressLine1" name="addressLine1" class="form-control" id="addressLine1">
    </div>

	<div class="form-group">
      <label for="city">City:</label>
      <input type="text" formControlName="city" name="city" class="form-control" id="city">
    </div>

	<div class="form-group">
      <label for="state">State:</label>
      <input type="text" formControlName="state" name="state" class="form-control" id="state">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
