<div class="col-md-9 user-container">
  <h2 style="margin: auto"> Customer Details</h2>
  <button class="btn btn-danger" style="width:140px" (click)="addUser()"> Add Customer</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <!--<th class="hidden">Id</th>-->
	  <th>Customer Number</th>
      <th>Customer Name</th>
	  <th>Contact Last Name</th>
	  <th>Contact First Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
	  <th>State</th>
	  <th></th>
	  <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <!--<td class="hidden">{{user.id}}</td>-->
	  <td>{{user.customerNumber}}</td>
      <td>{{user.customerName}}</td>
	  <td>{{user.contactFirstName}}</td>
      <td>{{user.contactLastName}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.addressLine1}}</td>
      <td>{{user.city}}</td>
	  <td>{{user.state}}</td>
      <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" style="width:140px" (click)="logout()"> Logout</button>
</div>
